* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  font-size: 16px;
  font-weight: 600px;
  color: #ffffff;
  padding: 12px 16px;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  color: #469165;
  background-color: #ffffff;
  transition: 1s;
  border: 1px solid #469165;
}
/* shared style */
.nav-container {
  width: 67%;
  max-width: 1073px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav-container .menus ul {
  display: flex;
  justify-content: space-between;
}
.nav-container .menus ul li {
  padding-right: 32px;
}
.nav-container .menus ul li a {
  font-size: 16px;
  font-weight: 500px;
  color: #000000;
}
/* navbar end */
#banner {
  text-align: center;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  padding: 115px 120px 180px 120px;
  vertical-align: middle;
}
#banner .access a {
  font-size: 16px;
  font-weight: 500px;
  color: #469165;
  padding: 8px 12px;
  border: 1px solid #469165;
  border-radius: 20px;
  background-color: #ffffff;
}
.banner-container .heading h1 {
  margin: 16px 0;
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
}
.heading-green {
  color: #469165;
}
.heading p {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 24px;
}
/* heading */
#notes {
  text-align: center;
  margin-bottom: 120px;
}
#notes .notes-container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.notes-container h2 {
  margin-top: 60px;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.notes-container p {
  font-size: 16px;
  margin-bottom: 44px;
  color: #627382;
}
.notes-cards {
  display: flex;
  gap: 24px;
}
.notes-cards .cards {
  padding: 70px 24px 21px 24px;
  box-shadow: 0 6px 2px 0 #b8bfc6;
  border-radius: 8px;
}
.notes-cards .cards h3 {
  margin: 16px 0;
  color: #001931;
  font-size: 24px;
  font-weight: 600px;
}
/* notes */
#second-brain {
  margin-bottom: 120px;
}
#second-brain .second-brain-container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}
.brain-image{
    max-width: 600px;
}
.brain-content{
    max-width: 700px;
}